<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.CommodityMapper">

    <resultMap id="commoditys" type="cn.com.zjw.springboot.entity.purchase.Commodity">
        <id column="F_ID" property="id" jdbcType="VARCHAR"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="F_EN_NAME" property="enName" jdbcType="VARCHAR"/>
        <result column="F_PRICE" property="price" jdbcType="NUMERIC"/>
        <result column="F_BASE_PRICE" property="basePrice" jdbcType="NUMERIC"/>
        <result column="F_CATEGORY" property="category" jdbcType="VARCHAR"/>
        <result column="F_BRAND" property="brand" jdbcType="VARCHAR"/>
        <result column="F_SHOP_NUM" property="shopNum" jdbcType="NUMERIC"/>
        <result column="F_IS_VALID" property="isValid" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getCommoditys" resultMap="commoditys">
        SELECT
        t1.F_ID,
        t1.F_NAME AS F_VALUE,
        t1.F_NAME,
        t1.F_EN_NAME,
        t1.F_PRICE,
        t1.F_BASE_PRICE,
        t1.F_CATEGORY,
        t1.F_BRAND
        FROM
        T_COMMODITY t1
        LEFT JOIN
        T_CUSTOMER t2
        ON t1.F_USER_ID = t2.F_ID
        WHERE t1.F_IS_VALID = #{commodity.isValid, jdbcType=VARCHAR}
        <!--<where>
            t1.F_IS_VALID = #{commodity.isValid, jdbcType=VARCHAR}
            <if test="commodity.name != null and commodity.name != ''">
                AND t1.F_NAME like '%' ||t1 #{commodity.name, jdbcType=VARCHAR} || '%'
            </if>
            <if test="commodity.category != null and commodity.category != ''">
                AND t1.F_CATEGORY = #{commodity.category, jdbcType=VARCHAR}
            </if>
            <if test="commodity.price != null and commodity.price != ''">
                AND t1.F_PRICE <![CDATA[>=]]> #{commodity.price, jdbcType=NUMERIC}
            </if>
            <if test="commodity.priceMax != null and commodity.priceMax != ''">
                AND t1.F_PRICE <![CDATA[<=]]> #{commodity.priceMax, jdbcType=NUMERIC}
            </if>
            <choose>
                <when test="customer != null and customer.type = '2'">
                    AND t1.F_USER_ID = #{userId}
                </when>
                <when test="customer != null and customer.type = '3'">
                    AND t2.F_PARENT_ID = #{userId}
                </when>
                <otherwise>
                    AND t1.F_USER_ID = #{userId}
                    AND 1=1
                </otherwise>
            </choose>
        </where>-->
    </select>

    <select id="getCommodity" resultMap="commoditys">
        SELECT
            t1.F_ID,
            t1.F_NAME,
            t1.F_EN_NAME,
            t1.F_PRICE,
            t1.F_BASE_PRICE,
            t1.F_CATEGORY,
            t1.F_BRAND,
            t2.F_SHOP_NUM
        FROM
            T_COMMODITY t1
        LEFT JOIN T_INVENTORY t2
        ON t1.F_ID = t2.F_COMMODITY_ID
        WHERE
        t1.F_ID = #{id, jdbcType=VARCHAR}
        AND t1.F_USER_ID = #{userId, jdbcType=VARCHAR}
    </select>

    <insert id="save">
        INSERT INTO T_COMMODITY (
            F_ID,
            F_NAME,
            F_EN_NAME,
            F_PRICE,
            F_BASE_PRICE,
            F_CATEGORY,
            F_BRAND,
            F_IS_VALID,
            F_USER_ID,
            F_CREATE_TIMESTAMP,
            F_UPDATE_TIMESTAMP
        ) VALUES (
            #{commodity.id, jdbcType=VARCHAR},
            #{commodity.name, jdbcType=VARCHAR},
            #{commodity.enName, jdbcType=VARCHAR},
            #{commodity.price, jdbcType=NUMERIC},
            #{commodity.basePrice, jdbcType=NUMERIC},
            #{commodity.category, jdbcType=VARCHAR},
            #{commodity.brand, jdbcType=VARCHAR},
            #{commodity.isValid, jdbcType=VARCHAR},
            #{userId, jdbcType=VARCHAR},
            sysdate,
            sysdate
        )
    </insert>

    <update id="update">
        UPDATE
            T_COMMODITY
        SET
            F_NAME = #{commodity.name, jdbcType=VARCHAR},
            F_EN_NAME = #{commodity.enName, jdbcType=VARCHAR},
            F_PRICE = #{commodity.price, jdbcType=NUMERIC},
            F_BASE_PRICE = #{commodity.basePrice, jdbcType=NUMERIC},
            F_CATEGORY = #{commodity.category, jdbcType=VARCHAR},
            F_BRAND = #{commodity.brand, jdbcType=VARCHAR},
            F_UPDATE_TIMESTAMP = sysdate
        WHERE
            F_ID = #{commodity.id, jdbcType=VARCHAR}
            AND F_USER_ID = #{userId, jdbcType=VARCHAR}
    </update>

    <delete id="delete">
         UPDATE
            T_COMMODITY
         SET
            F_IS_VALID = '2'
         WHERE
            F_ID = #{id, jdbcType=VARCHAR}
            AND F_USER_ID = #{userId, jdbcType=VARCHAR}
    </delete>
</mapper>