<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.CommodityMapper">

    <resultMap id="commoditys" type="cn.com.zjw.springboot.entity.purchase.Commodity">
        <id column="F_ID" property="id" jdbcType="VARCHAR"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="F_PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR"/>
        <result column="F_PRICE" property="price" jdbcType="NUMERIC"/>
    </resultMap>

    <select id="getCommoditys" resultMap="commoditys">
        SELECT
            F_ID,
            F_NAME,
            F_DESCRIPTION,
            F_PICTURE_URL,
            F_PRICE
        FROM
            T_COMMODITY
    </select>

</mapper>