<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.CustomerMapper">

    <resultMap id="customers" type="cn.com.zjw.springboot.entity.purchase.Customer">
        <id column="f_id" property="id" jdbcType="VARCHAR"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_VALUE" property="value" jdbcType="VARCHAR"/>
        <result column="F_PARENT_ID" property="parentId" jdbcType="VARCHAR"/>
        <result column="F_TEL" property="tel" jdbcType="NUMERIC"/>
        <result column="F_ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="F_IDCARD" property="idcard" jdbcType="VARCHAR"/>
        <result column="F_POINT" property="point" jdbcType="NUMERIC"/>
        <result column="F_NICKNAME" property="nickName" jdbcType="VARCHAR"/>
        <result column="F_TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="F_STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="F_CREATE_TIMESTAMP" property="createTimestamp" jdbcType="TIMESTAMP"/>
        <result column="F_UPDATE_TIMESTAMP" property="updateTimestamp" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getCustomers" resultMap="customers">
        SELECT
            t1.f_id,
            CASE WHEN
                t1.f_nickname
            IS NOT NULL THEN
                f_name || '(' || t1.f_nickname || ')'
            ELSE
                t1.f_name
            END AS f_name,
            t1.f_name AS F_VALUE,
            t1.f_name AS NAME ,
            t2.user_name AS f_parent_id,
            t1.f_tel,
            t1.f_address,
            t1.f_idcard,
            t1.f_point,
            t1.f_nickname,
            t1.f_type,
            t1.f_status
        FROM
            t_customer t1
        INNER JOIN
            (SELECT
                id,
                user_name
            FROM
                t_user
            WHERE
                status = '1'
            AND
                expiring_date >= sysdate
            START WITH
                id = #{userId}
            CONNECT BY PRIOR
                id = parent_id) t2
        ON
            t1.f_parent_id = t2.id
        WHERE
            1 = 1
        <if test="customer.name != null and customer.name != ''">
            AND t1.f_name like '%' || #{customer.name} || '%'
        </if>
        <if test="customer.nickName != null and customer.nickName != ''">
            AND t1.f_nickname like '%' || #{customer.nickName} || '%'
        </if>
        <if test="customer.type != null and customer.type != ''">
            AND t1.f_type = #{customer.type}
        </if>
        <if test="customer.status != null and customer.status != ''">
            AND t1.f_status = #{customer.status}
        </if>
    </select>

    <insert id="save">
        INSERT INTO t_customer (
            F_ID,
            F_NAME,
            F_PARENT_ID,
            F_TEL,
            F_ADDRESS,
            F_IDCARD,
            F_POINT,
            F_NICKNAME,
            F_TYPE,
            F_STATUS,
            F_CREATE_TIMESTAMP,
            F_UPDATE_TIMESTAMP
        ) VALUES (
            #{customer.id},
            #{customer.name},
            #{customer.parentId},
            #{customer.tel, jdbcType=NUMERIC},
            #{customer.address, jdbcType=VARCHAR},
            #{customer.idcard, jdbcType=VARCHAR},
            #{customer.point, jdbcType=NUMERIC},
            #{customer.nickName, jdbcType=VARCHAR},
            #{customer.type, jdbcType=NUMERIC},
            #{customer.status, jdbcType=NUMERIC},
            sysdate,
            sysdate
        )
    </insert>

    <select id="getCustomer" resultMap="customers">
        SELECT
            t1.f_id,
            t1.f_name,
            t1.f_tel,
            t1.f_address,
            t1.f_idcard,
            t1.f_point,
            t1.f_nickname,
            t1.f_type,
            t1.f_status,
            t1.f_parent_id
        FROM
            t_customer t1
        INNER JOIN
            (SELECT
                id,
                user_name
            FROM
                t_user
            WHERE
                status = '1'
            AND
                expiring_date >= sysdate
            START WITH
                id = #{userId}
            CONNECT BY PRIOR
                id = parent_id) t2
        ON
            t1.f_parent_id = t2.id
        WHERE
            t1.f_id = #{id}
        AND
            t1.f_parent_id = #{userId}
    </select>

    <select id="getCustomerd" resultMap="customers">
        SELECT
            t1.f_id,
            t1.f_name,
            t1.f_tel,
            t1.f_address,
            t1.f_idcard,
            t1.f_point,
            t1.f_nickname,
            t1.f_type,
            t1.f_status,
            t1.f_parent_id
        FROM
            t_customer t1
        WHERE
            t1.f_id = #{userId}
    </select>


    <update id="update">
        UPDATE
            t_customer
        SET
            f_name = #{customer.name},
            f_tel = #{customer.tel},
            f_address = #{customer.address, jdbcType=VARCHAR},
            f_idcard = #{customer.idcard, jdbcType=VARCHAR},
            f_point = #{customer.point, jdbcType=NUMERIC},
            f_type = #{customer.type, jdbcType=VARCHAR},
            f_status = #{customer.status, jdbcType=VARCHAR},
            f_update_timestamp = sysdate
        WHERE
            f_id = #{customer.id}
    </update>

    <delete id="delete">
        DELETE FROM
           t_customer
        WHERE
            f_id = #{id}
    </delete>
</mapper>