<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.InventoryMapper">

    <resultMap id="Inventorys" type="cn.com.zjw.springboot.entity.purchase.Inventory">
        <id column="F_ID" property="id" jdbcType="VARCHAR"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_ENAME" property="eName" jdbcType="VARCHAR"/>
        <result column="F_CREATETIME" property="createTime" jdbcType="VARCHAR"/>
        <result column="F_UPDATETIME" property="updateTime" jdbcType="VARCHAR"/>
        <result column="F_SHOPNUM" property="shopNum" jdbcType="NUMERIC"/>
    </resultMap>

    <insert id="save">
        INSERT INTO T_INVENTORY (
            F_ID,
            F_SHOPNUM,
            F_CREATETIME,
            F_UPDATETIME,
            F_COMMODITYID
        ) VALUES (
            #{inventory.id, jdbcType=VARCHAR},
            #{inventory.shopNum,jdbcType=NUMERIC},
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'),
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'),
            #{inventory.commodityId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE
            T_INVENTORY
        SET
            F_SHOPNUM = #{inventory.shopNum, jdbcType=NUMERIC},
            F_UPDATETIME = to_char(sysdate,'yyyy-mm-dd hh24:mi:ss')
        WHERE
            F_ID = #{inventory.id, jdbcType=VARCHAR}
    </update>

    <update id="reset">
        UPDATE
            T_INVENTORY
        SET
            F_SHOPNUM = 0,
            F_UPDATETIME = to_char(sysdate,'yyyy-mm-dd hh24:mi:ss')
        WHERE
            F_ID = #{inventory.id, jdbcType=VARCHAR}
    </update>

    <delete id="delete">
            DELETE FROM
            T_INVENTORY
            WHERE
            F_COMMODITYID = #{id, jdbcType=VARCHAR}
    </delete>

    <select id="getInventorys" resultMap="Inventorys">
        SELECT
            t1.F_ID,
            t2.F_NAME,
            t2.F_ENAME,
            t1.F_CREATETIME,
            t1.F_UPDATETIME,
            t1.F_SHOPNUM
        FROM T_INVENTORY t1
        LEFT JOIN T_COMMODITY t2
        ON t1.F_COMMODITYID = t2.F_Id
        WHERE
        1 = 1
        <if test="inventory.name != null and inventory.name != ''">
            AND t2.F_NAME like '%' || #{inventory.name, jdbcType=VARCHAR} || '%'
        </if>
    </select>

    <select id="getInventory" resultMap="Inventorys">
        SELECT
            t2.F_NAME,
            t2.F_ENAME,
            t1.F_SHOPNUM
        FROM T_INVENTORY t1
        LEFT JOIN T_COMMODITY t2
        ON t1.F_COMMODITYID = t2.F_Id
        WHERE
        t1.F_ID = #{id, jdbcType=VARCHAR}
    </select>

</mapper>