<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.InventoryMapper">

    <resultMap id="Inventorys" type="cn.com.zjw.springboot.entity.purchase.Inventory">
        <id column="F_ID" property="id" jdbcType="VARCHAR"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_DESCRIPTION" property="description" jdbcType="VARCHAR"/>
        <result column="F_CREATETIME" property="createTime" jdbcType="VARCHAR"/>
        <result column="F_UPDATETIME" property="updateTime" jdbcType="VARCHAR"/>
        <result column="F_CREATEMAN" property="createMan" jdbcType="VARCHAR"/>
        <result column="F_SHOPADDRESS" property="shopAddress" jdbcType="NUMERIC"/>
        <result column="F_WHETHERSHELF" property="whetherShelf" jdbcType="VARCHAR"/>
        <result column="F_SHOPNUM" property="shopNum" jdbcType="NUMERIC"/>
    </resultMap>

    <insert id="save">
        INSERT INTO T_INVENTORY (
            F_ID,
            F_NAME,
            F_SHOPNUM,
            F_CREATETIME,
            F_UPDATETIME,
            F_CREATEMAN,
            F_SHOPADDRESS,
            F_WHETHERSHELF
        ) VALUES (
            #{inventory.id, jdbcType=VARCHAR},
            #{inventory.name, jdbcType=VARCHAR},
            #{inventory.shopNum,jdbcType=NUMERIC},
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss') ,
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss') ,
            #{userId, jdbcType=VARCHAR},
            #{inventory.shopAddress, jdbcType=VARCHAR},
            #{inventory.whetherShelf, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE
            T_INVENTORY
        SET
            F_NAME = #{inventory.name, jdbcType=VARCHAR},
            F_SHOPNUM = #{inventory.shopNum, jdbcType=NUMERIC},
            F_SHOPADDRESS = #{inventory.shopAddress, jdbcType=VARCHAR},
            F_WHETHERSHELF = #{inventory.whetherShelf, jdbcType=VARCHAR},
            F_UPDATETIME = to_char(sysdate,'yyyy-mm-dd hh24:mi:ss')
        WHERE
            F_ID = #{inventory.id, jdbcType=VARCHAR}
    </update>

    <delete id="delete">
            DELETE FROM
            T_INVENTORY
            WHERE
            f_id = #{id, jdbcType=VARCHAR}
    </delete>

    <select id="getInventorys" resultMap="Inventorys">
        SELECT
            t1.F_ID,
            t1.F_NAME,
            t1.F_CREATETIME,
            t1.F_UPDATETIME,
            t1.F_CREATEMAN,
            t1.F_SHOPADDRESS,
            t1.F_WHETHERSHELF,
            t1.F_SHOPNUM
        FROM T_INVENTORY t1
        WHERE
        1 = 1
    </select>

    <select id="getInventory" resultMap="Inventorys">
        SELECT
            t1.F_ID,
            t1.F_NAME,
            t1.F_CREATETIME,
            t1.F_UPDATETIME,
            t1.F_CREATEMAN,
            t1.F_SHOPADDRESS,
            t1.F_WHETHERSHELF,
            t1.F_SHOPNUM
        FROM T_INVENTORY t1
        WHERE
        F_ID = #{id, jdbcType=VARCHAR}
    </select>

</mapper>