<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.InventoryMapper">

    <resultMap id="Inventorys" type="cn.com.zjw.springboot.entity.purchase.Inventory">
        <id column="F_ID" property="id" jdbcType="VARCHAR"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_EN_NAME" property="enName" jdbcType="VARCHAR"/>
        <result column="F_CREATE_TIMESTAMP" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="F_UPDATE_TIMESTAMP" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="F_SHOP_NUM" property="shopNum" jdbcType="NUMERIC"/>
    </resultMap>

    <insert id="save">
        INSERT INTO T_INVENTORY (
            F_ID,
            F_SHOP_NUM,
            F_CREATE_TIMESTAMP,
            F_UPDATE_TIMESTAMP,
            F_COMMODITY_ID
        ) VALUES (
            #{inventory.id, jdbcType=VARCHAR},
            #{inventory.shopNum,jdbcType=NUMERIC},
            sysdate,
            sysdate,
            #{inventory.commodityId, jdbcType=VARCHAR}
        )
    </insert>

    <update id="update">
        UPDATE
            T_INVENTORY
        SET
            F_SHOP_NUM = #{inventory.shopNum, jdbcType=NUMERIC},
            F_UPDATE_TIMESTAMP = sysdate
        WHERE
            F_ID = #{inventory.id, jdbcType=VARCHAR}
    </update>

    <update id="reset">
        UPDATE
            T_INVENTORY
        SET
            F_SHOP_NUM = 0,
            F_UPDATE_TIMESTAMP = sysdate
        WHERE
            F_ID = #{inventory.id, jdbcType=VARCHAR}
    </update>

    <delete id="delete">
            DELETE FROM
            T_INVENTORY
            WHERE
            F_COMMODITY_ID = #{id, jdbcType=VARCHAR}
    </delete>

    <select id="getInventorys" resultMap="Inventorys">
        SELECT
            t1.F_ID,
            t2.F_NAME,
            t2.F_EN_NAME,
            t1.F_CREATE_TIMESTAMP,
            t1.F_UPDATE_TIMESTAMP,
            t1.F_SHOP_NUM
        FROM T_INVENTORY t1
        LEFT JOIN T_COMMODITY t2
        ON t1.F_COMMODITY_ID = t2.F_Id
        WHERE
        1 = 1
        AND t2.F_IS_VALID = '1'
        AND t2.F_USER_ID = #{userId}
        <if test="inventory.name != null and inventory.name != ''">
            AND t2.F_NAME like '%' || #{inventory.name, jdbcType=VARCHAR} || '%'
        </if>
        ORDER BY  CAST(t1.F_SHOP_NUM AS int)
    </select>

    <select id="getInventory" resultMap="Inventorys">
        SELECT
            t2.F_NAME,
            t2.F_EN_NAME,
            t1.F_SHOP_NUM
        FROM T_INVENTORY t1
        LEFT JOIN T_COMMODITY t2
        ON t1.F_COMMODITY_ID = t2.F_Id
        WHERE
        t1.F_ID = #{id, jdbcType=VARCHAR}
        AND t2.F_USER_ID = #{userId, jdbcType=VARCHAR}
    </select>

</mapper>