<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.OrderMapper">

    <resultMap id="Orders" type="cn.com.zjw.springboot.entity.purchase.Order">
        <id column="F_ID" property="id" jdbcType="VARCHAR"/>
        <result column="F_ORDERSTATUS" property="orderStatus" jdbcType="VARCHAR"/>
        <result column="F_TOTALPRICE" property="totalPrice" jdbcType="NUMERIC"/>
        <result column="F_PRICE" property="price" jdbcType="NUMERIC"/>
        <result column="F_SHOPNUM" property="shopNum" jdbcType="NUMERIC"/>
        <result column="F_INVENTORYID" property="inventoryId" jdbcType="NUMERIC"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_ENAME" property="eName" jdbcType="VARCHAR"/>
        <result column="F_BRAND" property="brand" jdbcType="VARCHAR"/>
        <result column="F_CREATETIME" property="createTime" jdbcType="VARCHAR"/>
        <result column="F_UPDATETIME" property="updateTime" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="save">
        INSERT INTO T_ORDER(
        F_ID,
        F_INVENTORYID,
        F_ORDERSTATUS,
        F_PRICE,
        F_SHOPNUM,
        F_CREATETIME,
        F_UPDATETIME
        )
        <foreach collection="orderList" item="list" index="index" separator="UNION ALL">
            SELECT
            #{order.id,jdbcType=VARCHAR},
            #{list.inventoryId,jdbcType=VARCHAR},
            #{order.orderStatus,jdbcType=VARCHAR},
            #{list.price,jdbcType=NUMERIC},
            #{list.shopNum,jdbcType=NUMERIC},
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'),
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss')
            FROM dual
        </foreach>
    </insert>

    <update id="update">
        INSERT INTO T_ORDER(
        F_ID,
        F_INVENTORYID,
        F_ORDERSTATUS,
        F_PRICE,
        F_SHOPNUM,
        F_CREATETIME,
        F_UPDATETIME
        )
        <foreach collection="orderList" item="list" index="index" separator="UNION ALL">
            SELECT
            #{id,jdbcType=VARCHAR},
            #{list.inventoryId,jdbcType=VARCHAR},
            #{order.orderStatus,jdbcType=VARCHAR},
            #{list.price,jdbcType=NUMERIC},
            #{list.shopNum,jdbcType=NUMERIC},
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'),
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss')
            FROM dual
        </foreach>
    </update>

    <delete id="delete">
        DELETE FROM
            T_ORDER
            WHERE
            F_ID = #{id, jdbcType=VARCHAR}
    </delete>

    <select id="getOrders" resultMap="Orders">
        WITH tmp AS (
          SELECT
            (F_PRICE*F_SHOPNUM) AS F_TOTALPRICE,
            F_ID,
            F_ORDERSTATUS,
             F_CREATETIME,
            F_UPDATETIME
          FROM T_ORDER
        )
        SELECT
            F_ID,
            F_ORDERSTATUS,
            sum(F_TOTALPRICE) AS F_TOTALPRICE,
            F_CREATETIME,
            F_UPDATETIME
        FROM tmp
        WHERE
        1 = 1
        GROUP BY F_ID,F_ORDERSTATUS,F_CREATETIME,F_UPDATETIME
    </select>

    <select id="getOrder" resultMap="Orders">
        SELECT
            t1.F_ID,
            t2.F_NAME,
            t2.F_ENAME,
            t2.F_BRAND,
            t1.F_SHOPNUM,
            t1.F_PRICE
        FROM T_ORDER t1
        LEFT JOIN T_COMMODITY T2
        ON t1.F_INVENTORYID = t2.F_ID
        WHERE
        t1.F_ID = #{id, jdbcType=VARCHAR}
    </select>

</mapper>