<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.purchase.OrderMapper">
    <resultMap id="Orders" type="cn.com.zjw.springboot.entity.purchase.Order">
        <id column="F_ID" property="id" jdbcType="VARCHAR"/>
        <result column="F_ORDER_NUM" property="orderNum" jdbcType="VARCHAR"/>
        <result column="F_NAME" property="name" jdbcType="VARCHAR"/>
        <result column="F_COMMODITY_ID" property="commodityId" jdbcType="VARCHAR"/>
        <result column="F_COMMODITY_NAME" property="sName" jdbcType="VARCHAR"/>
        <result column="F_PRICE" property="price" jdbcType="VARCHAR"/>
        <result column="F_BASE_PRICE" property="basePrice" jdbcType="VARCHAR"/>
        <result column="F_REPRICE" property="rePrice" jdbcType="VARCHAR"/>
        <result column="F_COMMODITY_ID" property="commodityId" jdbcType="VARCHAR"/>
        <result column="F_COMMODITY_ID" property="commodityId" jdbcType="VARCHAR"/>
        <result column="F_CUSTOMER_ID" property="customerId" jdbcType="VARCHAR"/>
        <result column="F_ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="F_TEL" property="tel" jdbcType="VARCHAR"/>
        <result column="F_NICKNAME" property="nickName" jdbcType="VARCHAR"/>
        <result column="F_IDCARD" property="idCard" jdbcType="VARCHAR"/>
        <result column="F_ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR"/>
        <result column="F_TRACK_ID" property="trackId" jdbcType="VARCHAR"/>
        <result column="F_SHOP_NUM" property="shopNum" jdbcType="NUMERIC"/>
        <result column="F_TOTAL_PRICE" property="totalPrice" jdbcType="NUMERIC"/>
        <result column="F_CREATE_TIMESTAMP" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="F_UPDATE_TIMESTAMP" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="save">
        INSERT INTO T_ORDER(
        F_ID,
        F_INVENTORYID,
        F_ORDERSTATUS,
        F_PRICE,
        F_SHOPNUM,
        F_CREATETIME,
        F_UPDATETIME
        )
        <foreach collection="orderList" item="list" index="index" separator="UNION ALL">
            SELECT
            #{order.id,jdbcType=VARCHAR},
            #{list.inventoryId,jdbcType=VARCHAR},
            #{order.orderStatus,jdbcType=VARCHAR},
            #{list.price,jdbcType=NUMERIC},
            #{list.shopNum,jdbcType=NUMERIC},
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss'),
            to_char(sysdate,'yyyy-mm-dd hh24:mi:ss')
            FROM dual
        </foreach>
    </insert>

    <insert id="saveOrderAndCommodity">
        INSERT INTO T_ORDER_COMMODITY(
        F_ID,
        F_COMMODITY_ID,
        F_ORDER_ID,
        F_SHOP_NUM
        )
        <foreach collection="orderArray" item="oa" index="index" separator="UNION ALL">
            SELECT
            #{oa.id,jdbcType=VARCHAR} || to_char(sysdate,'yyyymmddhh24miss'),
            #{oa.id,jdbcType=VARCHAR},
            #{orderId,jdbcType=VARCHAR},
            #{oa.shopNum,jdbcType=NUMERIC}
            FROM dual
        </foreach>
    </insert>

    <insert id="saveOrder">
        INSERT INTO T_ORDER(
        F_ID,
        F_CUSTOMER_ID,
        F_TRACK_ID,
        F_ORDER_STATUS,
        F_CREATE_TIMESTAMP,
        F_UPDATE_TIMESTAMP
        )
        VALUES (
        #{order.id,jdbcType=VARCHAR},
        #{customerId,jdbcType=VARCHAR},
        #{order.trackId,jdbcType=VARCHAR},
        #{order.orderStatus,jdbcType=VARCHAR},
        sysdate,
        sysdate
        )
    </insert>

    <delete id="deleteOrder">
        DELETE FROM
        T_ORDER
        WHERE
        F_ID = #{id}
    </delete>

    <delete id="deleteOrderAndCommodity">
        DELETE FROM
        T_ORDER_COMMODITY
        WHERE
        F_ORDER_ID = #{id}
    </delete>


    <select id="getOrder" resultMap="Orders">
        SELECT
            t1.F_ID,
            t2.F_NAME,
            t2.F_EN_NAME,
            t2.F_BRAND,
            t1.F_SHOPNUM,
            t1.F_PRICE
        FROM T_ORDER t1
        LEFT JOIN T_COMMODITY T2
        ON t1.F_INVENTORYID = t2.F_ID
        WHERE
        t1.F_ID = #{id, jdbcType=VARCHAR}
    </select>

    <select id="getOrders" resultMap="Orders">
    WITH tmp AS (
          SELECT t1.F_ID,SUM(t2.f_shop_num * t3.f_price) F_TOTAL_PRICE
          FROM T_ORDER t1
          LEFT JOIN T_ORDER_COMMODITY t2
          ON t1.F_ID = t2.F_ORDER_ID
          LEFT JOIN T_COMMODITY t3
          ON t2.F_COMMODITY_ID = t3.F_ID
          WHERE 1=1
          GROUP BY t1.F_ID
        )
        SELECT t1.F_ID, t1.F_ID F_ORDER_NUM, t1.F_TRACK_ID, t1.F_ORDER_STATUS,t2.F_NAME F_NAME,t3.F_TOTAL_PRICE F_TOTAL_PRICE
        FROM
        T_ORDER t1
        LEFT JOIN T_CUSTOMER t2
        ON t1.F_CUSTOMER_ID = t2.F_ID
        LEFT JOIN tmp t3
        ON t1.F_ID = t3.F_ID
        ORDER BY F_ORDER_NUM
    </select>

    <select id="getCustomerForOrder" resultMap="Orders">
        SELECT t1.F_ID F_ORDER_NUM,t2.F_ID F_CUSTOMER_ID,t2.F_NAME,t2.F_NICKNAME,t2.F_IDCARD,t2.F_TEL,t2.F_ADDRESS,t1.F_TRACK_ID,t1.F_ORDER_STATUS
        FROM
        T_ORDER t1
        LEFT JOIN T_CUSTOMER t2
        ON t1.F_CUSTOMER_ID = t2.F_ID
        WHERE 1=1
        AND t1.F_ID = #{id, jdbcType=VARCHAR}
    </select>

    <select id="getCommodityForOrder" resultMap="Orders">
        SELECT
        t3.F_ID,t3.F_NAME F_COMMODITY_NAME,t2.F_SHOP_NUM,t3.F_PRICE,t3.F_BASE_PRICE,(t3.F_PRICE - t3.F_BASE_PRICE) F_REPRICE
        FROM T_ORDER t1
        LEFT JOIN T_ORDER_COMMODITY t2
        ON t1.F_ID = t2.F_ORDER_ID
        LEFT JOIN T_COMMODITY t3
        ON t2.F_COMMODITY_ID = t3.F_ID
        WHERE t1.F_ID = #{id, jdbcType=VARCHAR}
    </select>


</mapper>