<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.system.PermissionMapper">

    <resultMap id="BaseMap" type="cn.com.zjw.springboot.dto.system.PermissionDto">
        <result column="ID" property="key" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME" property="label" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="count" resultType="int">
        SELECT
            count(0)
        FROM
            t_permission t1
        INNER JOIN
            t_user_permission t2
        ON
            t1.id = t2.permission_id
        WHERE
            id = #{id}
    </select>

    <delete id="delete">
        DELETE FROM
            t_permission
        WHERE
            id = #{id}
    </delete>

    <select id="getUndistributedRoles" resultMap="BaseMap">
        SELECT
            distinct t3.id,
            t3.role_name
        FROM
            t_permission t1
        INNER JOIN
            t_role_permission t2
        ON
            t1.id = t2.permission_id
        INNER JOIN
            t_role t3
        ON
            t2.role_id = t3.id
        LEFT JOIN
            t_user_permission t4
        ON
            t1.id = t4.permission_id
        WHERE
            t3.user_id = #{loginUser}
        AND
            (t4.user_id = #{userId} OR t4.user_id IS NULL)
    </select>

</mapper>