<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.system.RoleMapper">

    <resultMap id="roleMap" type="cn.com.zjw.springboot.entity.system.Role">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getRoles" resultMap="roleMap">
        SELECT
            t1.id,
            t1.role_name,
            t1.remark,
            t2.user_name,
            t2.login_name
        FROM
            t_role t1
        INNER JOIN
            t_user t2
        ON
            t1.user_id = t2.id
        WHERE
            t1.user_id = #{role.userId}
    </select>

    <insert id="insert">
        INSERT INTO t_role (
            id,
            user_id,
            role_name,
            remark,
            creat_timestamp,
            update_timestamp
        )
        VALUES (
            #{role.id},
            #{userId},
            #{role.roleName},
            #{role.remark, jdbcType=VARCHAR},
            sysdate,
            sysdate
        )
    </insert>

    <insert id="insertPermission">
        INSERT INTO t_permission (
            id,
            create_timestamp,
            update_timestamp
        )
        VALUES (
            #{id},
            sysdate,
            sysdate
        )
    </insert>

    <insert id="insertRolePermission">
        INSERT INTO T_ROLE_PERMISSION (
            permission_id,
            role_id,
            menu_id
        )
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
            SELECT
                #{permissionId},
                #{roleId},
                #{item.id}
            FROM
                dual
        </foreach>
    </insert>

    <select id="getByRoleIdAndUserId" resultMap="roleMap">
        SELECT
            id,
            user_id,
            role_name,
            remark
        FROM
            t_role
        WHERE
            id = #{roleId}
        AND
            user_id = #{userId}
    </select>
</mapper>