<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.system.RoleMapper">

    <resultMap id="roleMap" type="cn.com.zjw.springboot.entity.system.Role">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getRoles" resultMap="roleMap">
        SELECT
            t1.id,
            t1.role_name,
            t1.remark,
            t2.user_name
        FROM
            t_role t1
        INNER JOIN
            t_user t2
        ON
            t1.user_id = t2.id

        WHERE
            t1.user_id LIKE (
            CASE
                WHEN t2.parent_id = '0' THEN
                    '%%'
                ELSE
                    #{role.userId}
            END
        )
    </select>

</mapper>