<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.zjw.springboot.mapper.system.UserMapper">

    <resultMap id="userMap" type="cn.com.zjw.springboot.entity.system.User">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="IP" property="ip" jdbcType="VARCHAR"/>
        <result column="LAST_LOGIN_DATE" property="lastLoginDate" jdbcType="TIMESTAMP"/>
        <result column="LOGIN_FAIL_TIMES" property="loginFailTimes" jdbcType="INTEGER"/>
        <result column="TEL" property="tel" jdbcType="NUMERIC"/>
        <result column="STATUS" property="status" jdbcType="NUMERIC"/>
        <result column="USER_TYPE" property="userType" jdbcType="NUMERIC"/>
    </resultMap>

    <select id="getUser" resultMap="userMap">
        SELECT
            id,
            user_name,
            login_name,
            password,
            ip,
            last_login_date,
            login_fail_times,
            tel,
            status
        FROM
            t_user
        WHERE
            login_name = #{loginName}
        AND
            status = '1'
        AND
            expiring_date >= sysdate
    </select>

    <update id="updateLoginTimes">
        UPDATE
            t_user
        SET
            ip = #{user.ip, jdbcType=VARCHAR},
            login_fail_times = #{user.loginFailTimes} + 1,
            last_login_date = sysdate,
            update_timestamp = sysdate
        WHERE
            login_name = #{user.loginName}
    </update>

    <select id="getUsers" resultMap="userMap">
        SELECT
            id,
            user_name,
            login_name,
            password,
            ip,
            last_login_date,
            login_fail_times,
            tel,
            status
        FROM
            t_user
        WHERE
            status = '1'
        AND
            expiring_date >= sysdate
        <if test="user.loginName != null and user.loginName != ''">
            AND login_name like '%' || #{user.loginName} || '%'
        </if>
        <if test="user.userName != null and user.userName != ''">
            AND user_name like '%' || #{user.userName} || '%'
        </if>
        <if test="user.id != null and user.id != ''">
            AND id = #{user.id}
        </if>
        <if test="user.status != null and user.status != ''">
            AND status = #{user.status}
        </if>
        ORDER BY
            login_name
    </select>

    <insert id="save">
        INSERT INTO t_user(
            id,
            user_name,
            login_name,
            password,
            ip,
            login_fail_times,
            parent_id,
            tel,
            status,
            create_timestamp,
            update_timestamp
        ) VALUES (
            #{user.id},
            #{user.userName},
            #{user.loginName},
            #{user.password},
            #{user.ip, jdbcType=VARCHAR},
            0,
            #{user.parentId},
            #{user.tel},
            #{user.status, jdbcType=NUMERIC},
            sysdate,
            sysdate
        )
    </insert>

    <update id="update">
        UPDATE
            t_user
        SET
            user_name = #{user.userName},
            <if test="user.password != null and user.password != ''">
                password = #{user.password},
            </if>
            tel = #{user.tel},
            status = #{user.status},
            update_timestamp = sysdate
        WHERE
            id = #{user.id}
    </update>

    <delete id="delete">
        DELETE FROM
            t_user
        WHERE
            id = #{id}
    </delete>

    <update id="resetTimes">
        UPDATE
            t_user
        SET
            LOGIN_FAIL_TIMES = 0
            update_timestamp = sysdate,
        WHERE
            id = #{id}
    </update>

    <update id="updateByCustomer">
        UPDATE
            t_user
        SET
            user_name = #{customer.name},
            tel = #{customer.tel},
            status = #{customer.status},
            update_timestamp = sysdate
        WHERE
            id = #{customer.id}
        AND
            parent_id = #{customer.parentId}
    </update>

    <update id="updatePassword">
        UPDATE
            t_user
        SET
            password = #{user.password},
            update_timestamp = sysdate
        WHERE
            login_name = #{user.loginName}
    </update>

    <select id="getUserById" resultMap="userMap">
        SELECT
            id,
            user_name,
            login_name,
            password,
            ip,
            last_login_date,
            login_fail_times,
            parent_id,
            tel,
            status,
            user_type
        FROM
            t_user
        WHERE
            id = #{id}
        WHERE
            status = '1'
        AND
            expiring_date >= sysdate
    </select>
</mapper>